@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap");

:root {
  --text-color: #d29348;
}
body {
  font-family: "Raleway", "sans-serif";
  font-size: 16px;
  line-height: 2;
}
.container {
  width: 1170px;
}
p {
  font-size: 14px;
  color: #999999;
}
.navbar-fixed {
  height: 0px;
}
nav {
  text-transform: capitalize;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 75px;
  box-shadow: none;
}
.nav-wrapper {
  z-index: 2;
  margin: 10px;
}
.nav-wrapper ul li {
  padding: 0 8px;
}
.nav-wrapper ul li a {
  font-size: 1.1rem;
}
.nav-wrapper ul li a.active,
.nav-wrapper ul li:hover a {
  color: var(--text-color);
  border-bottom: 3px solid var(--text-color);
}
.brand-logo {
  font-family: "great vibes", "cursive";
  font-weight: bold;
}

/* Showcase */
.parallax-container::before {
  content: "";
  height: 100vh;
  width: 100%;
  background: #000000;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  top: 0;
}
.parallax-container {
  height: 100vh;
}
.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.showcase .content {
  z-index: 2;
  width: 37%;
  line-height: 1.9;
}
.showcase .content h1 {
  font-family: "great vibes", "cursive";
  font-weight: bolder;
}
.showcase .content p {
  font-size: 14px;
  font-weight: 500;
  padding: 0 30px;
}
.book-btn {
  background: var(--text-color);
  text-transform: capitalize !important;
  padding: 12px 38px !important;
  line-height: 1;
  font-weight: 100;
  margin-top: 2rem;
}

/* About */
#about {
  padding: 110px 0;
}
#about img {
  width: 98%;
}
#about h3 {
  font-size: 40px;
  margin-top: 0px;
}
#about .about-content p{
  margin-top: 30px;
}
/* Media queries */

@media (max-width: 768px) {
  .showcase .content {
    width: 90%;
  }
  .showcase .content h1 {
    font-size: 35px;
  }
}
